header {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-left: 30px;
}

nav {
  padding-right: 40px;
}
nav span {
  padding: 20px 10px;
}
nav a {
  color: black;
}

.logo img {
  margin-right: 12px;
}

.logo span {
  color: MediumAquaMarine;
}

.main-container {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding-top: 40px;
}

.column-left {
  width: 630px;
  border: 1px solid black;
  overflow: auto;
}

#tuna-steak, #mon-valley, #orca, #earth, #burger, #camera, #fbi, #cats, #brooklyn, #cookie, #news {
  border: 1px solid black;
}

.column-middle {
  width: 300px;
  border: 1px solid black;
}

.column-right {
  width: 240px;
  border: 1px solid black;
}

#tuna-steak {
  background-image: url(../images/main-story.png);
  height: 301px;
}

#earth {
  display: flex;
  background-image: url(../images/fall-season.png);
  height: 301px;
  justify-content: flex-end;

}

#camera {
  background-image: url(../images/hipster-cameraman.png);
  height: 301px;
}

#cats {
  background-image: url(../images/cat-ceo.png);
  height: 301px;
}

#main-story-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.image-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story-text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
